{% extends 'UKpracaApp/base.html' %}
{% load static %}


{% block tittle %} View List {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<h1> Email: kontaktowy@wp.pl</h1>
<p> Numer: 45-456-456 </p>

<label>
        Imię:
        <input type="text"
               name="mailerName">
    </label>
<br>
    <label>
        Twój Email:
        <input type="email"
               name="mailerEmail">
    </label>
<br>
        <label>
        Temat:
        <input type="text"
               name="mailerSubject">
    </label>
<br>
        <label>
        Wiadomość:
        <input type="text"
               name="mailerMessage">
    </label>



</body>
</html>

{% endblock %}