{% extends 'UKpracaApp/base.html' %}
{% load static %}


{% block tittle %} View List {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>



<link rel="stylesheet" href="/static/styles.css">

</head>




<body>

    <form method="POST" action="/list/">
        {% csrf_token %}
        {{ form.as_p }}
<div>


    <label>
        Imię:
        <input type="text"
               name="userName">
    </label>
<br>
    <label>
        Nazwisko:
        <input type="text"
               name="userSurname">


    </label>

    <label>
        <button type="submit" class="btn btn-primary" SUBMYT> </button>
        <input type="submit" value="Wyślij">

    </label>
    </form>


    <label>
  <select name="gender">
    <option value="">Select...</option>
    <option value="M">Male</option>
    <option value="F">Female</option>
  </select>
    </label>

    <label>
    Wybierz dodatki:
    <input type="checkbox" name="toppings" value="cheese">Dodatkowy ser
    <input type="checkbox" name="toppings" value="ham">Dodatkowa szynka
    <input type="checkbox" name="toppings" value="pineaple">Ananas
    <input type="checkbox" name="toppings" value="tomato">Pomidor
    <input type="checkbox" name="toppings" value="salami">Salami
    </label>



</div>



    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8 offset-md-2">

                <div class="card">
                    <div class="card-header shadow-sm bg-white">
                   <h1 class="display-5 text-info"><i class="fas fa-check-double"></i> UKpraca </h1>
                    </div>
                    <div class="card-body"></div>
                    <form action="{% url 'insert_praca_user' %}" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="name" class="form-control" name="name" placeholder="Twoje Imię">
                            <div class="input-group-append text-info">
                                <span class="input-group-text bg-white py-0">
                                    <button type="submit" class="btn btn-sm text-info">
                                        <i class="fa fa-plus-circle fa-lg"></i>

                                    </button>
                                </span>
                            </div>
                        </div>


                        </form>

                </div>


            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>



</body>

{% endblock %}

</html>